
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  .form-group {
    margin-bottom: 15px;
   
  }
  
  label {
    display: block;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
   
    box-sizing: border-box;
  }
 
  @media screen and (max-width: 480px){
    .signup-container  {
        max-width: 400px;
        margin: auto;
        
        padding: 20px;
        /* background-color: bisque; */
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    }
    .body{
        display: flex;
        justify-content: center;
        height: 100vh;
        color: azure;
        font-family: 'Work Sans', sans-serif;
        background-image: url("../bg12.jpg");
        background-position: center;
        background-size: cover;
       min-height: 100vh;
       margin: 0px 0px;
      
    }
  }
  @media screen and (min-width: 480px){
    .signup-container  {
        min-width: 400px;
        margin: auto;
        
        padding: 20px;
        /* background-color: #f9f9f9; */
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    }
    .body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
       color: azure;
       font-family: 'Work Sans', sans-serif;
       background-image: url("../bg12.jpg");
       background-position: center;
       background-size: cover;
      min-height: 100vh;
      margin: 0px 0px;
      
    }
  }
.input{
    border-radius: 20px;
   outline: none;
   background-color: azure;
  }
  h1{
    font-family: 'Merriweather Sans', sans-serif;
   text-align: center;
   margin-bottom: 20px;
  }

.btn{
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid ;
    margin-bottom: 10px;

}
.buttonn {
    width: 100%;
    /* padding: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; */
  }